<app-navbar></app-navbar>

<main class="main">
    <body>
        <h1 class="title"> Bienvenue à toi</h1>
        <div class="container">
            <form>
                <div>
                    <label for="pseudo">Pseudo</label><br>
                    <input type="test" id="pseudo" name="pseudo" placeholder="Pseudo">
                </div>
                <div>
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" placeholder="Email">
                </div>
                <div>
                    <label for="password">Mot de passe</label><br>
                    <input type="password" id="password" name="password" placeholder="Mot de passe">
                </div>
                <div>
                    <button class="btn-submit" type="submit">Se connecter</button>
                </div>
            </form>
            <div class="containter-change-type">
                <a class="btn-change-type" href="#">S'inscrire</a>
            </div>
            
        </div>
    </body>
</main>
