
<main class="main">
  <body>
    <app-navbar></app-navbar>
      
      <div class="container">
        <div class="title">
          <h2 class="text-blue">PRENEZ SOIN DE</h2>
          <h1 >VOTRE PLANÈTE</h1>
        </div>
        <span class="texte-description">
          <p>Voici votre planète, prenez en soin, plus vous gagnez de point, mieux elle se porte. Pour gagner des points, jouez et renseignez vous. Mais attention, si vous n'en prenez pas soin, son état se détériore et elle se sentir de plus en plus mal. Commencez à jouer pour en découvrir plus sur le changement climatique.</p>
        </span>
    </div>
  </body>
</main>

<router-outlet></router-outlet>