body{
    background-color: #E0F5F8;
}

.text-blue{
    color: #58BDCB;
    margin-bottom: 0;
    padding-top: 30PX;
}

.text-bottom{
    margin-top: 0;
}

.title{
    display: flex;
    align-items: le;
    flex-direction: column;
    // background-color: red;
    margin-left: 22%;
    margin-right: 20%;
}

.text-description{
    display: flex;
    // text-align: center; 
    // background-color: blue;
    margin-left: 20%;
    margin-right: 20%;
}

.text-title-games{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}

.nuage-container {
    position: relative;
    display: inline-block; /* ou 'block' selon votre mise en page */
  }
  
  .nuage-container img {
    width: 15%; /* Adaptez à la taille nécessaire */
    height: auto;
    display: block;
    padding-left: 15%;
  }
  
  .texte-sur-nuage {
    position: absolute;
    top: 53%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* Adaptez à la taille nécessaire */
    color: black; /* ou toute autre couleur qui contraste avec votre nuage */
  }

  .nuage-container-1 img {
    width: 15%; /* Adaptez à la taille nécessaire */
    height: auto;
    display: block;
    padding-left: 70%;
  }
  
  .texte-sur-nuage-1{
    position: absolute;
    top: 109%;
    left: 77%;
    transform: translate(-50%, -50%);
    font-size: 16px; /* Adaptez à la taille nécessaire */
    color: black; /* ou toute autre couleur qui contraste avec votre nuage */
  }
  

.container-games{
    width: 200px;
    height: auto;
    margin: 0;
}

.nuage-1{
    margin-bottom: 1%;
    padding: 20%;
}

.nuage-2{
    margin: 10%;
    padding: 13%;
}


.fixed-planet{
    position: fixed; /* Fixe l'élément par rapport à la fenêtre du navigateur */
    bottom: 0;       /* Positionne l'élément en bas de la fenêtre */
    left: 50%;       /* Positionne le côté gauche de l'image au milieu */
    transform: translateX(-50%); /* Déplace l'image de 50% de sa propre largeur vers la gauche */
    width: 40%;      /* Largeur de l'image (ajustez selon vos besoins) */
    height: auto;    /* Hauteur automatique pour maintenir le ratio de l'image */
    z-index: 10;     /* Assurez-vous qu'il est au-dessus des autres éléments si nécessaire */
}

.planet{
    justify-content: center;
    align-items: center;
}
