
body {
    background-color: #E0F5F8;
    font-family: 'Lalezar', cursive;
}

.texte-couleur-black {
    color: black; /* Remplacez 'blue' par la couleur de votre choix */
}

.texte-couleur-blue {
color: #58BDCB; /* Remplacez 'blue' par la couleur de votre choix */
}